.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* position: absolute; */
    top: 0;
    left: 100px;
    width: 90%;
    z-index: 1000; 
    /* padding: 10px; */
    border-radius: 10px;
  }
  
  .user-buttons {
    display: flex;
    
  }
  
  .user-buttons button {
    color: white;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .user-buttons button.selected {
    background-color: #707c88;
    color: #fff;
  }
  
  .search-form-wrapper {
    flex-grow: 1;
  }
  
  .search-form {
    display: flex;
  }
  
  .search-input {
    flex-grow: 1;
    margin-right: 10px;
  }
  